<!DOCTYPE HTML>
<html lang="en-US" itemscope itemtype="http://schema.org/WebPage">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<title>Libra - A service to measure the weight along the time</title>
		<meta name="description" content="A service to measure the weight along the time">
		<link rel="stylesheet" href="/static/css/home.css"/>
		{% block css %}
		{% end %}
		   {% block js_frame %}
		<script type="text/javascript" src="/static/js/mootools-core-1.4.5.js"></script>
		   {% end %}
		{% block js_top %}
		{% end %}
	</head>
	<body>
	   <header>
	        <div class="logo">
	          <a href="{{SERVER_NAME}}"><img width="80" height="80" src="/static/img/logo.png" /></a>
	        </div>
	        <h1><a href="{{SERVER_NAME}}" class="link-logo">libra</a></h1>
	        {% block user_info %}
	        <nav>
	           <div class="user-info">
	           <img alt="Victor Pantoja" height="35" src="http://gravatar.com/avatar/106ecc83539e035e9d665f988eb0fb99?size=35" width="35">
	           <span class="user-name">Victor Pantoja<span class="logout">logout</span></span>
	           </div>
	        </nav>
	        {% end %}
	   </header>
	
	    {% block content %}
	    {% end %}
	
	       {% block js_fb %}
	       {% end %}
	    {% block js_bottom %}
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-46354408-1', 'pitomba.org');
		  ga('send', 'pageview');
		</script>
		{% end %}
	</body>
</html>