{% extends "base.html" %}

{% block content %}
<div class="search">
	<h1>Simply Type Your URL</h1>
	<form method="post">
		<input type="url" id="url" name="url" placeholder="Your URL here!" required autofocus/>
		<input type="submit" value="Analyze!" /> 
	</form>
	<div class="fb-cta">
    <h2>Or log in to get full features:</h2>
    <div class="fb-login">
      <fb:login-button show-faces="true" width="200" max-rows="1"></fb:login-button>
    </div>
	</div>
  <div id="fb-root"></div>
</div>
{% end %}

{% block js_fb %}
<script>
  window.fbAsyncInit = function() {
  FB.init({
    appId      : '515793125186609',
    status     : true,
    cookie     : true,
    xfbml      : true
  });


  FB.Event.subscribe('auth.authResponseChange', function(response) {
    if (response.status === 'connected') {
      getSession(response.authResponse.userID);
    } else if (response.status === 'not_authorized') {
      FB.login();
    } else {
      FB.login();
    }
  });
  };

  // Load the SDK asynchronously
  (function(d){
   var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement('script'); js.id = id; js.async = true;
   js.src = "//connect.facebook.net/en_US/all.js";
   ref.parentNode.insertBefore(js, ref);
  }(document));

  function getSession(userID) {
	  var requestSession = new Request({
		  async: false,
		  method: 'get',
		  noCache: false,
		  onSuccess: function(responseText, responseXML){
			  window.location.href = '/' + userID + '/'
		  },
		  onFailure: function(xhr){
			  console.log(xhr);
		  },
		  url: '/api/authenticate/' + userID + '/'
	  });

	  requestSession.send();
  }
</script>

{% end %}